.hero {
  background: transparent url(./images/NodeRockets-Logo-Final-03.png) no-repeat 40% 0;
  height: 200px;
  width: 100%;
  background-size: contain;
  margin: 20px 0;
}
.down {
  background-image: url(./images/rocket-down.png)
}
