
.rocket {
  right: 20px;
  position: fixed;
  height: 174px;
  width: 100px;
  background-size: 100%;
  z-index: 3;
}

.up {
  background-image: url(./images/rocket-up.png)
}
.down {
  background-image: url(./images/rocket-down.png)
}
